<%=@@resultado %>
Ingresar letra
Intento: <span id="contador"><%=@@intentos %></span>

<form method="post" action="ingresarLetra">
	<input type="text" name="letra" id="letra"/>
	<input type="submit" name="confirmar" value="confirmar" />
</form>
