<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>El ahorcado de Pocho</h1>

				<%=@@resultado %>
				Ingresar letra
				Intentos Fallidos: <span id="contador"><%=@intentos %></span>
				<img src="./img/1.jpg" />
				<p>
				<% @estadoPalabra.each do |v| %><%= v == nil ? "_ " : v + " " %><% end %>
				</p>
			</div>
			<div class="row">
				
					<form method="post" action="ingresarLetra">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="letra">Letra</label>
							<div class="col-md-6">
								<input class="form-control" type="text" name="letra" id="letra"/>
								<input type="submit" name="confirmar" value="confirmar" class="btn btn-success" />
							</div>
						</div>
					</form>
				
			</div>
		<div>
	</body>
</html>
